
body {
  background-color: #ffffff;
}

p {
  font-family:Helvetica,Arial,sans-serif;
}

h1 {
  text-align: justify;
  margin-right: 360px;
  margin-left: 360px;
  font-size: 20px;
  font-family:Helvetica,Arial,sans-serif;
}

h2 {
  text-align: justify;
  margin-right: 360px;
  margin-left: 360px;
  font-size: 17px;
  font-family:Helvetica,Arial,sans-serif;
}

h4 {
  font-family:Helvetica,Arial,sans-serif;
  font-size: 20px;
  text-align: center;
  margin: auto;
  padding: 0px 7px 0px 7px;
  font-weight: bold;
}








.login {
  margin-right: 50px;
  font-family:Helvetica,Arial,sans-serif;
}

.btn {
  margin-right: 30px;
  font-family:Helvetica,Arial,sans-serif;
}

.collapse {
  margin-left: 75px;
}

.nav-link {
  margin-left: 30px;
  font-family:Helvetica,Arial,sans-serif;
}

.navbar-brand {
  font-family:Helvetica,Arial,sans-serif;
}








.banner {
  color: white;
  text-align: center;
  height: 53vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #6a7682;
}

.data-analyst {
  width: 170px;
  height: 170px;
  position: absolute;
  display: flex;
  left: 110px;
  bottom: 70px;
}

.company {
 width: 130px;
 height: 150px;
 position: absolute;
 display: flex;
 right: 110px;
 bottom: 75px;
}

.quote {
  font-style: italic;
  font-size: 13.5px;
  text-align: justify;
  margin-top: 270px;
}

.dan-ariely {
  font-weight: bold;
  font-size: 13px;
  text-align: right;
  margin-top: -24px;
}

.logo-data {
  position: absolute;
  width: 200px;
  left: 350px;
  top: 100px;
}

.idea {
  position: absolute;
  width: 300px;
  left: 590px;
  top: 150px;
}

.navbar-brand-img {
  width: 50px;
  height: 50px;
}

.typeform-helper {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 300px;
  filter: drop-shadow(2px 2px 1px #90c2e5);
}

.typeform-help {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 300px;
  filter: drop-shadow(2px 2px 1px #90c2e5);
}




.information {
  position: relative;
}

.pourcentage {
  color: #45F1A7;
  font-weight: bold;
  font-size: 60px;
  font-family:Helvetica,Arial,sans-serif;
  position: absolute;
  top: 20px;
  left: 50px;

}

.sentence {
  margin-left: 180px;
  width: 400px;
  margin-top: 55px;
}





.w-100 {
  filter: brightness(60%);
  border-radius: 5px;
}

.carousel-caption {
  text-shadow: 2px 2px 10px black;
  
}







.container {
  padding-left: 100px;
  background-color: white;
}

.card {
  width: 200px;
  height: 200px;
  text-align: justify;
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
  background-color: #8d969f;
}


.img-logo {
  width: 100px;
  height: 100px;
}

.cardimg {
  position: absolute;
  top: 25%;
  left: 130%;
}





